/***************************************************
 * Colors and Common Styles
 * This file contains common colors and styles used across the application.
 ***************************************************/
:root {
  --background-default: url(/src/assets/test.jpg);
  /** Primary Colors outline **/
  --color-primary-outline: #008888;
  --color-secondary-outline: #00AAAA;
  --color-tertiary-outline: #ffffff75;
  --color-accent-outline: #00CCCC;
  --color-border-outline: #00AAAA;
  --color-border-hover-outline: #008888;
  /** Primary Colors fill **/
  --color-primary-fill: #005555;
  --color-secondary-fill: #007777;
  --color-tertiary-fill: #ffffff75;
  --color-accent-fill: #009999;
  --color-border-fill: #007777;
  --color-border-hover-fill: #005555;
  /** Primary Colors glass **/
  --color-primary-glass: transparent;
  --color-secondary-glass: #ffffff94;
  --color-accent-glass: #ffffff;
  --blur-primary-glass: blur(2px);
  --blur-secondary-glass: blur(6px);
  /** Status Colors **/
  --success-color: green;
  --error-color: red;
  --info-color: blue;
  --warning-color: yellow;
  /** Other Common Styles **/
  --border-radius: .5rem;
  --color-font: black;
  --font-size-default: 1rem;
}

:root[data-theme='dark'] {
  /** Override colers in dark theme **/
  --color-font: white;
  --background-default: radial-gradient(circle, #4b6cb7 10%, #182848 90%);
  /** Primary Colors outline **/
  /** Primary Colors fill **/
  /** Primary Colors glass **/
  --color-primary-glass: rgba(255, 250, 250, 0.25);
  --color-secondary-glass: rgba(255, 255, 255, 0.25);
  --color-accent-glass: #ffffff;
  --blur-primary-glass: blur(5px);
  --blur-secondary-glass: blur(10px);
}


/****************************************************
    * Common Styles
    * This file contains common styles used across the application.
    * It is imported in the main entry point of the application.
****************************************************/
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  transition: all 1s ease-out;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-default);
  background-repeat: no-repeat;
  width: 100dvw;
  height: 100dvh;
  background-position: center;
  background-size: cover;
  color: var(--color-font);
}

/****************************************************
 * Glass Style
 * This section contains styles for glass effect elements.
 ****************************************************/
.glass {
  backdrop-filter: var(--blur-primary-glass);
  color: var(--color-font);
  cursor: pointer;
  background: var(--color-primary-glass);
  outline: .5px solid var(--color-secondary-glass);
  border-radius: var(--border-radius);
  border: none;
  interpolate-size: allow-keywords;
  margin: 1rem;
  box-shadow: 2px 2px 4px 1px color(var(--color-font) / 0.5);
  font-size: var(--font-size-default);
}

.glass:hover,
.glass:focus {
  backdrop-filter: var(--blur-secondary-glass);
  outline: .5px solid var(--color-accent-glass);
  background: var(--color-secondary-glass);
}

.glass:active {
  backdrop-filter: var(--blur-primary-glass);
  transform: scale(0.95);
}

/****************************************************
 * Status Styles
 * This section contains styles for different status types.
 ****************************************************/
.success {
  background-color: rgb(from var(--success-color) r g b / 50%);
}
.error {
  background-color: rgb(from var(--error-color) r g b / 50%);
}
.info {
  background-color: rgb(from var(--info-color) r g b / 50%);
}
.warning {
  background-color: rgb(from var(--warning-color) r g b / 50%);
}

/****************************************************
 * Fade Animations
 * This section contains fade in and fade out animations.
 ****************************************************/
.fade_out_in {
  animation: fade_out_in 1s cubic-bezier(0.46, 0.53, 0, 0.92);
}

.fade_in {
  animation: fade_in 1s cubic-bezier(0.46, 0.53, 0, 0.92);
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade_out {
  animation: fade_out 1s cubic-bezier(0.46, 0.53, 0, 0.92);
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/******************************************************
 * Slide Animations
 * This section contains slide up and slide down animations.
 ****************************************************/

.slide_up_to_down {
  animation: slide_up_to_down 1s cubic-bezier(0.46, 0.53, 0, 0.92);
}

@keyframes slide_up_to_down {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.slide_down_to_up {
  animation: slide_down_to_up 1s cubic-bezier(0.46, 0.53, 0, 0.92);
}

@keyframes slide_down_to_up {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}
